# Dependências Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml # se não estiver usando

# Logs
logs
*.log
logs/*.log

# Ambiente/variáveis
.env
.env.local
.env.*.local
ngrok.yml  # se contiver token/chave sensível

# Arquivos de sistema
.DS_Store
Thumbs.db

# Docker
*.pid

# TypeScript
dist/
public/dist/
*.tsbuildinfo

# Java/Spring Boot
target/
*.class
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

# React Build
build/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
